@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap");
/*
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/
/*



Hero Section



*/
body {
  background-color: rgb(255, 239, 239);
}

/*--------------------------------------------------------------
# hero Section
--------------------------------------------------------------*/
.hero-section {
  background-image: url(images/bgs/home-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.hero-txt-n-img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14rem 0 0 0;
}

/*--------------------------------------------------------------
# Hero Text Container
--------------------------------------------------------------*/
.hero-txt-n-img-container .text-container {
  animation-delay: 0.8s;
  padding-left: 7rem;
  width: 50%;
}
.hero-txt-n-img-container h2 {
  font-family: "jost", serif;
  font-weight: 700;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  width: 100%;
}
.hero-txt-n-img-container p {
  font-family: "jost", serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(212, 212, 206);
  margin-bottom: 1rem;
  line-height: 1.5rem;
  width: 100%;
}
.hero-txt-n-img-container button {
  padding: 0.5rem 2rem;
  border: transparent;
  background-color: rgb(255, 45, 45);
  transition: background-color 0.5s ease;
  color: rgb(255, 254, 247);
  margin-top: 1.5rem;
  font-family: "kanit", sans-serif;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.hero-txt-n-img-container button:hover {
  background-color: rgba(212, 27, 27, 0.99);
}

/*--------------------------------------------------------------
# Hero Image Container
--------------------------------------------------------------*/

.hero-txt-n-img-container .img-container {
  width: 50%;
  text-align: center;
}

.hero-txt-n-img-container img {
  height: 30rem; /*responsive*/
  width: 30rem; /*responsive*/
  margin-top: -5rem; /*responsive*/

  animation: upDown 2s ease-in-out infinite alternate-reverse both;
  animation-delay: 2s;
}
@keyframes upDown {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
@media (max-width: 1111px) {
  .hero-txt-n-img-container h2 {
    font-size: 2rem;
  }
  .hero-txt-n-img-container p {
    font-size: 1rem;
  }
  .hero-txt-n-img-container img {
    height: 24rem; /*responsive*/
    width: 24rem; /*responsive*/
  }
}
@media (max-width: 991px) {
  .hero-txt-n-img-container {
    flex-direction: column-reverse;
    padding: 6rem 0 0 0;
  }

  .hero-txt-n-img-container .text-container {
    padding-left: 0 !important;
    margin-top: 0 !important;
  }
  .hero-txt-n-img-container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .hero-txt-n-img-container p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
    text-align: center;
  }
  .hero-txt-n-img-container button {
    padding: 0.5rem 1rem;
    display: block;
    margin: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
}
@media (max-width: 768px) {
  .hero-txt-n-img-container img {
    height: 20rem; /*responsive*/
    width: 20rem; /*responsive*/
  }
  .hero-txt-n-img-container h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .hero-txt-n-img-container p {
    font-size: 1.3rem;
    margin-bottom: 0;
    text-align: center;
  }
  .hero-txt-n-img-container {
    padding: 10rem 0 0 0;
  }
}

/*



Your One Shop Section



*/

/*--------------------------------------------------------------
# Brief Info Card
--------------------------------------------------------------*/

.heading-n-brief-info {
  width: 85%;
  background-color: rgba(212, 27, 27, 0.99);
  margin: auto;
  margin-top: 3rem;
  padding: 3rem 5rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.heading-n-brief-info h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: white;
  width: 50%;
}
.heading-n-brief-info p {
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  width: 50%;
  line-height: 160%;
}
@media (max-width: 1291px) {
  .heading-n-brief-info {
    gap: 1rem;
  }
  .heading-n-brief-info h2 {
    margin-top: -1.25rem;
  }
  .heading-n-brief-info p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1111px) {
  .heading-n-brief-info {
    flex-direction: column;
  }
  .heading-n-brief-info h2 {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }
  .heading-n-brief-info p {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Map N Text
--------------------------------------------------------------*/
.map-n-text {
  display: flex;
  width: 85%;
  margin: 2rem auto;
  padding: 2rem 0;
  gap: 2.5rem;
}
.map-n-text-img-container {
  width: 50%;
}
.map-n-text img {
  width: 30rem;
  margin-top: -1rem;
}
/*--------------------------------------------------------------
# Map And Text | Text Container
--------------------------------------------------------------*/
.map-n-text .text-container {
  width: 50%;
}

.map-n-text .little-txt {
  color: rgba(212, 27, 27, 0.99);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: 120%;
  position: relative;
}
.map-n-text .little-txt::after {
  content: "";
  width: 4rem;
  height: 2px;
  position: relative;
  background: rgba(212, 27, 27, 0.99);
  display: block;
  top: -0.75rem;
  left: 7.5rem;
}
.map-n-text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 2px;
  color: #000000;
  margin-top: 2rem;
}
.map-n-text .biggest-achievement {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 160%;
  letter-spacing: 0.02rem;
  color: #000000;
  margin-top: 2rem;
}
@media (max-width: 1111px) {
  .map-n-text img {
    width: 24rem;
    margin-top: -1rem;
  }
  .map-n-text h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}

/*--------------------------------------------------------------
# Image And Statistics
--------------------------------------------------------------*/
.image-n-statistics {
  width: 80%;
  position: relative;
  margin-bottom: 3rem;
}

.image-n-statistics .image-container {
  height: 35rem;
  width: 87.5%;
  overflow: hidden;
  border-radius: 1.5rem;
  position: relative;
  margin-left: 7.121rem;
  z-index: 2;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.image-n-statistics .image-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/*--------------------------------------------------------------
# Image And Statistics | Statistics
--------------------------------------------------------------*/
.statistics-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem;
  z-index: 1;
  position: absolute;
  width: 15rem;
  height: 118%;
  left: 94.5%;
  top: -8rem;
  background: #60d2f1;
  border-radius: 2.5rem;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  list-style: none;
}
.statistics-container h4 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2rem;
  line-height: 140%;
  text-align: center;
  color: #000000;
}
.statistics-container p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 140%;
  text-align: center;
  color: #000000;
  position: relative;
}
.statistics-container p::after {
  content: "";
  width: 9rem;
  height: 2.5008px;
  position: relative;
  background: rgba(212, 27, 27, 0.99);
  top: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
@media (max-width: 1290px) {
  .statistics-container {
    left: 96.5%;
  }
}
@media (max-width: 1111px) {
  .image-n-statistics .image-container {
    height: 25rem;
    width: 83%;
  }
  .statistics-container {
    height: 128%;
    padding-top: 2.5rem;
    left: 92.5%;
  }
}

@media (max-width: 991px) {
}
@media (max-width: 768px) {
}

/*--------------------------------------------------------------
# Big Product Section
--------------------------------------------------------------*/

.big-product-section {
  background-color: rgb(255, 41, 41);
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
/*--------------------------------------------------------------
# Big Product Section Card
--------------------------------------------------------------*/
.big-product-text-n-img-card {
  height: 38rem;
  background-color: rgb(255, 239, 239);
  width: 92.5%;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  overflow: hidden;
}
/*--------------------------------------------------------------
# Big Product Section Text Container
--------------------------------------------------------------*/
.big-product-section .text-container {
  width: 50%;
  height: 100%;
  display: flex; /* Added flex display */
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /*Center children horizontally*/
}
.big-product-section .text-container h4 {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.1rem;
  color: red;
  display: inline-block;
  width: 28.5rem;
  margin-bottom: 1.5rem;
}
.big-product-section .text-container p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.938rem;
  letter-spacing: 1px;
  color: #494949;
  width: 28.5rem;
}
.big-product-text-n-img-card img {
  height: 100%;
  width: 50%;
}
@media (max-width: 1290px) {
  .big-product-section .text-container h4 {
    font-size: 2rem;
    width: 21.125rem;
  }
  .big-product-section .text-container p {
    font-size: 1rem;
    width: 21.125rem;
  }
}
@media (max-width: 1111px) {
  .big-product-text-n-img-card {
    height: 30rem;
  }
}

@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
/*--------------------------------------------------------------
# Small Products Section
--------------------------------------------------------------*/
.small-products-section {
  width: 100%;
  background-color: rgb(255, 41, 41);
  padding: 4rem 7.5%;
}
/*--------------------------------------------------------------
# Small Product Heading
--------------------------------------------------------------*/
.small-products-section h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 2rem;
  margin-left: -1rem;
}
.small-products-section h3 span {
  color: #fffb2b;
}

/*--------------------------------------------------------------
# Small Product Cards
--------------------------------------------------------------*/

.small-product-cards {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.product-card-items {
  height: 24rem;
  border-radius: 2.5rem;
  overflow: hidden;
}
/*--------------------------------------------------------------
# Small Product Card Single Items
--------------------------------------------------------------*/
.small-product-cards .item1 {
  grid-column: span 5;
  grid-row: 1;
  background-image: url(images/product-images/sanitizer.png);
  background-position: center; /* Set the background position to center */
  background-size: cover; /* Adjust the background size as needed */
}
.small-product-cards .item2 {
  grid-column: span 7;
  grid-row: 1;
  background-image: url(images/product-images/groceries.png);
  background-position: center; /* Set the background position to center */
  background-size: cover; /* Adjust the background size as needed */
}
.small-product-cards .item3 {
  grid-column: span 4;
  grid-row: 2;
  background-image: url(images/product-images/face-cleanser.png);
  background-position: center; /* Set the background position to center */
  background-size: cover; /* Adjust the background size as needed */
}
.small-product-cards .item4 {
  grid-column: span 4;
  grid-row: 2;
  background-image: url(images/product-images/bag.png);
  background-position: center; /* Set the background position to center */
  background-size: cover; /* Adjust the background size as needed */
}
.small-product-cards .item5 {
  grid-column: span 4;
  grid-row: 2;
  background-image: url(images/product-images/honey.png);
  background-position: center; /* Set the background position to center */
  background-size: cover; /* Adjust the background size as needed */
}
.small-product-cards .item6 {
  grid-column: span 6;
  grid-row: 3;
  background-image: url(images/product-images/shirt.png);
  background-position: center; /* Set the background position to center */
  background-size: cover; /* Adjust the background size as needed */
}
.small-product-cards .item7 {
  grid-column: span 6;
  grid-row: 3;
  background-image: url(images/product-images/cold-drink.png);
  background-position: center; /* Set the background position to center */
  background-size: cover; /* Adjust the background size as needed */
}
.small-product-cards .item8 {
  grid-column: span 5;
  grid-row: 4;
  background-image: url(images/product-images/shoes.png);
  background-position: center; /* Set the background position to center */
  background-size: cover; /* Adjust the background size as needed */
}
.small-product-cards .item9 {
  grid-column: span 7;
  grid-row: 4;
  background-image: url(images/product-images/fan.png);
  background-position: center; /* Set the background position to center */
  background-size: cover; /* Adjust the background size as needed */
}
/*--------------------------------------------------------------
# Small Product Card Inner Content
--------------------------------------------------------------*/
.small-product-cards .text-container {
  position: relative;
  top: calc(100% - 7.4375rem);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  border-radius: 0 0 2.5rem 2.5rem;
  height: 7.4375rem;
  line-height: 1rem;
}
.small-product-cards .text-container h5 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
.small-product-cards .text-container p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  letter-spacing: 1px;
  color: #ffffff;
}
@media (max-width: 1290px) {
}
@media (max-width: 1111px) {
  .small-products-section h3 {
    font-size: 2rem;
  }

  .statistics-container {
    height: 128%;
    padding-top: 2.5rem;
    left: 92.5%;
  }
}
@media (max-width: 1164px) {
  .product-card-items {
    height: 18rem;
  }
  .small-product-cards .text-container h5 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .small-product-cards .text-container p {
    font-size: 0.9rem;
  }
}
@media (max-width: 1111px) {
  .small-products-section h3 {
    font-size: 2rem;
  }

  .statistics-container {
    height: 128%;
    padding-top: 2.5rem;
    left: 92.5%;
  }
}

@media (max-width: 991px) {
  .small-products-section h3 {
    text-align: center;
  }
  .small-product-cards {
    display: flex;
    flex-direction: column;
  }
  .product-card-items {
    width: 70%;
    height: 28rem;
    margin: auto;
  }
  .small-product-cards .text-container h5 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }
  .small-product-cards .text-container p {
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .product-card-items {
    width: 90%;
    height: 28rem;
    margin: auto;
  }
  .small-product-cards .text-container h5 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .small-product-cards .text-container p {
    font-size: 1rem;
  }
}
@media (max-width: 590px) {
  .product-card-items {
    height: 20rem;
  }
  .small-product-cards .text-container h5 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .small-product-cards .text-container p {
    font-size: 0.7rem;
  }
}

/*--------------------------------------------------------------
# Promotion Section
--------------------------------------------------------------*/
.promotion-container {
  display: flex;
  justify-content: space-between;
  padding: 7.2%;
  gap: 5rem;
  margin-bottom: 3.5rem;
}
.promotion-container .promo-text-container {
  width: 40%;
  display: flex; /* Added flex display */
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /*Center children horizontally*/
}
.promotion-container h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 2px;
  color: #ff0002;
  width: 30.5113rem;
  margin-bottom: 0.8rem;
}
.promotion-container p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.9375rem;
  letter-spacing: 2px;
  color: #494949;
  width: 30.5113rem;
}
.promotion-container .img-container {
  width: 60%;
}
.promotion-container img {
  width: 100%;
  height: 100%;
}
/*--------------------------------------------------------------
# Testimonial Section
--------------------------------------------------------------*/
.testmonials-section {
  display: flex;
  position: relative;
  padding-bottom: 8rem;
  gap: 2.1rem;
}
.testmonials-section .testmonial-side-txt {
  margin: 0 3rem 0 7.5%;
}
.testmonials-section .testmonial-side-txt h4 {
  width: 29.875rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 2px;
  color: #ff0002;
  margin-bottom: 1rem;
}
.testmonials-section .testmonial-side-txt p {
  width: 29.875rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.9375rem;
  letter-spacing: 2px;
  color: #494949;
}
/*--------------------------------------------------------------
# Testimonial Cards
--------------------------------------------------------------*/

/* Cards  */
.testimonials-container {
  padding-right: 20.59rem;
  padding-bottom: 2rem;
}
.testmonial-cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.testmonial-card-element {
  background-color: rgb(255, 226, 226);
  border-radius: 2rem;
  padding: 3rem 2rem;
  box-shadow: 2px 2px 3px rgba (0, 0, 0, 0.2);
  display: block;
}
.testmonial-writer-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.testmonials-section img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 3rem;
}
.testmonials-section .name-n-profession {
  display: flex;
  flex-direction: column;
}
.testmonials-section .name-n-profession h6 {
  height: 25px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5625rem;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: center;
}
.testmonials-section .name-n-profession p {
  height: 25px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5625rem;
  letter-spacing: 0.02em;
  color: #939393;
  text-align: center;
}
.swiper-pagination {
  bottom: 5px !important;
  display: inline;
  margin-left: -1.5rem;
}
/* .swiper-pagination-bullet {
} */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #ff0002 !important;
}
.swiper-pagination-bullet-active {
  width: 25px;
  border-radius: 5px;
}

/*--------------------------------------------------------------
# Footerr Content
--------------------------------------------------------------*/
footer {
  background-color: black;
}
footer .logo-n-links-n-icons {
  height: 20rem;
  margin-top: 2rem;
  color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5% 0 5%;
}
/* Logo  */
footer img {
  height: 8.1275rem;
  margin-top: -7rem;
}
/* Links n Icons  */

footer .links-n-icons-container {
  display: flex;
  justify-content: space-between;
  width: 24rem;
}
/* Links  */

footer .links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .links-container li {
  height: 4.5rem;
  color: white;
  list-style: none;
}
footer .links-container li a {
  color: white;
}
/*Icons  */

footer .icons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10.5rem;
}

footer .icons-container svg {
  width: 2rem;
  height: 2rem;
  fill: #ffffff !important; /* Change the fill color to your desired color */
  margin-top: -0.5rem;
}
footer .icons-container .twitter {
  margin-bottom: -0.4rem;
}
footer hr {
  width: 90%;
  margin: auto;
  border-color: rgba(255, 255, 255, 0.4);
  border-width: 1.5008px;
  border-radius: 2rem;
}
footer .copyright-n-policies {
  padding: 1.5rem 5% 1.5rem 5%;
  display: flex;
  justify-content: space-between;
  width: 52rem;
}
footer .copyright-n-policies a {
  color: white;
}
